
* { margin: 0; 
  padding: 0;
   box-sizing: border-box;
  }

  body, .home-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
  }
  
  .header {
    background-color: white;
    padding: 10px;
    text-align: left;
    align-items: center;
    text-shadow: 3px 3px 3px red;
    transform: translate(-10px,-20px);
    color: black;
    display: flex;
  }
  .header h1{
    font-size: 150%;
    white-space:nowrap;
    padding: 10px;
  }
  .navbar{
   width: 90vw;
   color: black;
   white-space:nowrap;
  }
  
  .navbar ul{
  display: flex;
  justify-content: center;
   align-items: center;
   text-shadow: none;
   justify-content: space-around;
   gap: 50px;
   padding: 20px;
  }
  .navbar ul li{
  display: inline;
  cursor: pointer;
  }
  .navbar ul :hover{
    text-decoration: underline;
  }
  
  .content {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow: auto;
    
  }
  .chatdescription{
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    color: #333333;
    text-transform: none;
  }

 